<style>
  h1 {
    font-family: "Work Sans";
    font-weight: 600;
  }
</style>

<h1>Hello <%= @user.first_name %></h1>

<!-- <p>
  <%= @greeting %>, find me in app/views/user_mailer/welcome.html.erb
</p> -->
