.booking-confirmed, 
.messages {
  border: 1px solid red;
  width: 500px;
  height: 400px;
}

// check i
.fa-check-circle {
  color: rgb(81, 211, 146);
  font-size: 60px;
  margin: 0 225px;
  padding-bottom: 15px;
}