.h2-hdiw,
.h3-senior,
.top-seniors-h2 {
  font-family: "Work Sans";
  font-weight: 600;
}

// categories
.category {
  width: 150px;
  height: 150px;
  margin: 100px 20px 100px auto;
  padding-top: 60px;
  background-color: #D3D3D3;
  color: #888888;
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
  transition: .3s;
}

.category:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
  color: #888888;
  text-decoration: none;
}

// how does it work
.h2-hdiw {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 50px;
}

.h3-senior {
  font-size: 18px;
  color: #969696;
  text-align: center;
}

// top active seniors
.top-seniors-h2 {
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
}

.cards {
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-advertisement {
  transition: .3s;
}

.card-advertisement:hover {
  transform: scale(1.03);
  opacity: .9;
}