.h2-hdiw,
.a-senior,
.top-seniors-h2 {
  font-family: "Work Sans";
  font-weight: 600;
}

// categories
.category {
  width: 150px;
  height: 150px;
  margin: 100px 20px 100px auto;
  padding-top: 60px;
  border-radius: 50%;
  color: white;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  background-color: #D3D3D3;
  background-position: center;
  background-size: cover;
  transition: .3s;
}

.category:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
  color: white;
  text-decoration: none;
}

.category:nth-child(1) {
  background-image: 
    linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),
    url("https://images.unsplash.com/photo-1466692476868-aef1dfb1e735?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

.category:nth-child(2) {
  background-size: 200%;
  background-image: 
    linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), 
    url("https://images.unsplash.com/photo-1529203915787-cc54fa70a428?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

.category:nth-child(3) {
  background-size: 170%;
  background-image: 
    linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), 
    url("https://images.unsplash.com/photo-1535982330050-f1c2fb79ff78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
}

.category:nth-child(4) {
  background-image: 
    linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), 
    url("https://images.unsplash.com/photo-1546058256-47154de4046c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80");
}

.category:nth-child(5) {
  background-image: 
    linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), 
    url("https://images.unsplash.com/photo-1520390138845-fd2d229dd553?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
}

.category:nth-child(6) {
  background-size: 170%;
  background-image: 
    linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), 
    url("https://images.unsplash.com/photo-1557817017-2ce200058acd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1549&q=80");
}

// how does it work
.h2-hdiw {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 50px;
}

.a-senior {
  font-size: 18px;
  color: #969696;
  text-align: center;
  transition: .3s;
}

.a-senior:hover {
  color: #E7A142;
  text-decoration: none;
}

// top active seniors
.top-seniors-h2 {
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
}

.cards {
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-advertisement {
  transition: .3s;
}

a:nth-child(2) .card-advertisement,
a:nth-child(5) .card-advertisement {
  margin: auto 50px;
}

.card-advertisement:hover {
  transform: scale(1.03);
  opacity: .9;
}

a:hover {
  text-decoration: none;
}
