// buttons
.btn-show {
  padding: 12px 18px;
  background-color: #E7A142; 
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: 500;
}

.btn-show:hover {
  background-color: #f1af51;
  color: white;
}