<!-- header -->
<div class="banner" style="background-image:
  linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),
  url(<%= cl_image_path('Seniors/banner_1') %>)">
  
  <div class="container text-left">
    <h1 class="header-h1 ">Find an experienced senior on the skill you need</h1>
    <form class="form-header text-left">
      <input type="text" name="location" id="header-text-input" placeholder="Enter location">
      <input type="text" name="category" id="header-text-input" placeholder="Choose category">
      <input type="text" name="subcategory" id="header-text-input" placeholder="Choose subcategory">
      <input type="submit" value="Search" id="header-submit-input">
    </form>
  </div>
</div>

<!-- categories -->
<div class="container d-flex justify-content-center">
  <a href="" class="category">Home</a>
  <a href="" class="category">Languages</a>
  <a href="" class="category">School</a>
  <a href="" class="category">Music</a>
  <a href="" class="category">Photo & Video</a>
  <a href="" class="category">Crafts</a>
</div>

<!-- how does it work -->
<div class="container text-center">
  <h2 class="h2-hdiw">How does it work?</h2>
  <!-- card produc 1 -->
  <div class="d-flex justify-content-center">

    <div class="card-product mr-5">
      <img src="" />
      <div class="card-product-infos">
        <h2>1</h2>
        <p>Step description</p>
      </div>
    </div>

    <!-- card produc 2 -->
    <div class="card-product mr-5">
      <img src="" />
      <div class="card-product-infos">
        <h2>2</h2>
        <p>Step description</p>
      </div>
    </div>

    <!-- card produc 3 -->
    <div class="card-product">
      <img src="" />
      <div class="card-product-infos">
        <h2>3</h2>
        <p>Step description</p>
      </div>
    </div>
  </div>

  <h3 class="h3-senior">I am a Senior</h3>

</div>

<!-- top active seniors section -->
<div>
  <h2 class="top-seniors-h2">Top Active Seniors from around the world</h2>

  <!-- top cards -->
  <div class="cards d-flex justify-content-center mb-5">
    <!-- card -->
    <div class="card-advertisement d-flex flex-column mr-5 mb-5">
      <!-- top card -->
      <div class="d-flex top-card">
        <!-- top left -->
        <img src="" />
        <!-- top right -->
        <div class="top-text-card">
          <h2>Advertisement title</h2>
          <p>Category - Sub category</p>
          <sub>Location</sub>
        </div>
      </div>
      <!-- bottom card -->
      <div class="d-flex bottom-card">
        <!-- bottom left -->
        <div class="card-bottom-left">
          <p>Name</p>
          <p>Member since Jun 2020</p>
          <p>:star: 4.91 (15)</p>
        </div>
        <!-- bottom right -->
        <div class="card-bottom-right">
          <p>$$/hr</p>
        </div>
      </div>
    </div>

    <!-- card -->
    <div class="card-advertisement d-flex flex-column mr-5 mb-5">
    <!-- top card -->
    <div class="d-flex top-card">
      <!-- top left -->
      <img src="" />
      <!-- top right -->
      <div class="top-text-card">
        <h2>Advertisement title</h2>
        <p>Category - Sub category</p>
        <sub>Location</sub>
      </div>
    </div>
    <!-- bottom card -->
    <div class="d-flex bottom-card">
      <!-- bottom left -->
      <div class="card-bottom-left">
        <p>Name</p>
        <p>Member since Jun 2020</p>
        <p>:star: 4.91 (15)</p>
      </div>
      <!-- bottom right -->
      <div class="card-bottom-right">
        <p>$$/hr</p>
      </div>
    </div>
    </div>

    <!-- card -->
    <div class="card-advertisement d-flex flex-column mb-5">
      <!-- top card -->
      <div class="d-flex top-card">
        <!-- top left -->
        <img src="" />
        <!-- top right -->
        <div class="top-text-card">
          <h2>Advertisement title</h2>
          <p>Category - Sub category</p>
          <sub>Location</sub>
        </div>
      </div>
      <!-- bottom card -->
      <div class="d-flex bottom-card">
        <!-- bottom left -->
        <div class="card-bottom-left">
          <p>Name</p>
          <p>Member since Jun 2020</p>
          <p>:star: 4.91 (15)</p>
        </div>
        <!-- bottom right -->
        <div class="card-bottom-right">
          <p>$$/hr</p>
        </div>
      </div>
    </div>

    <!-- card -->
    <div class="card-advertisement d-flex flex-column mr-5">
      <!-- top card -->
      <div class="d-flex top-card">
        <!-- top left -->
        <img src="" />
        <!-- top right -->
        <div class="top-text-card">
          <h2>Advertisement title</h2>
          <p>Category - Sub category</p>
          <sub>Location</sub>
        </div>
      </div>
      <!-- bottom card -->
      <div class="d-flex bottom-card">
        <!-- bottom left -->
        <div class="card-bottom-left">
          <p>Name</p>
          <p>Member since Jun 2020</p>
          <p>:star: 4.91 (15)</p>
        </div>
        <!-- bottom right -->
        <div class="card-bottom-right">
          <p>$$/hr</p>
        </div>
      </div>
    </div>

    <!-- card -->
    <div class="card-advertisement d-flex flex-column mr-5">
    <!-- top card -->
    <div class="d-flex top-card">
      <!-- top left -->
      <img src="" />
      <!-- top right -->
      <div class="top-text-card">
        <h2>Advertisement title</h2>
        <p>Category - Sub category</p>
        <sub>Location</sub>
      </div>
    </div>
    <!-- bottom card -->
    <div class="d-flex bottom-card">
      <!-- bottom left -->
      <div class="card-bottom-left">
        <p>Name</p>
        <p>Member since Jun 2020</p>
        <p>:star: 4.91 (15)</p>
      </div>
      <!-- bottom right -->
      <div class="card-bottom-right">
        <p>$$/hr</p>
      </div>
    </div>
    </div>

    <!-- card -->
    <div class="card-advertisement d-flex flex-column">
      <!-- top card -->
      <div class="d-flex top-card">
        <!-- top left -->
        <img src="" />
        <!-- top right -->
        <div class="top-text-card">
          <h2>Advertisement title</h2>
          <p>Category - Sub category</p>
          <sub>Location</sub>
        </div>
      </div>
      <!-- bottom card -->
      <div class="d-flex bottom-card">
        <!-- bottom left -->
        <div class="card-bottom-left">
          <p>Name</p>
          <p>Member since Jun 2020</p>
          <p>:star: 4.91 (15)</p>
        </div>
        <!-- bottom right -->
        <div class="card-bottom-right">
          <p>$$/hr</p>
        </div>
      </div>
    </div>
  </div>
</div>