<!-- header -->
<div class="banner">
  <div class="container text-center">
    <h1 class="header-h1 ">Find an experienced senior on the skill you need</h1>
    <form class="form-header text-left">
      <input type="text" name="location" id="header-text-input" placeholder="Enter location">
      <input type="text" name="category" id="header-text-input" placeholder="Choose category">
      <input type="text" name="subcategory" id="header-text-input" placeholder="Choose subcategory">
      <input type="submit" value="Search" id="header-submit-input">
    </form>
  </div>
</div>

<!-- categories -->
<div class="container d-flex justify-content-center">
  <a href="" class="category">Category</a>
  <a href="" class="category">Category</a>
  <a href="" class="category">Category</a>
  <a href="" class="category">Category</a>
  <a href="" class="category">Category</a>
  <a href="" class="category">Category</a>
</div>

<!-- how does it work -->
<div class="container text-center">
  <h2 class="h2-hdiw">How does it work?</h2>
  <!-- card produc 1 -->
  <div class="d-flex justify-content-center">

    <div class="card-product mr-5">
      <img src="" />
      <div class="card-product-infos">
        <h2>1</h2>
        <p>Step description</p>
      </div>
    </div>

    <!-- card produc 2 -->
    <div class="card-product mr-5">
      <img src="" />
      <div class="card-product-infos">
        <h2>2</h2>
        <p>Step description</p>
      </div>
    </div>

    <!-- card produc 3 -->
    <div class="card-product">
      <img src="" />
      <div class="card-product-infos">
        <h2>3</h2>
        <p>Step description</p>
      </div>
    </div>
  </div>

  <h3 class="h3-senior">I am a Senior</h3>

</div>

<!-- top active seniors section -->
<div class="container">
  <h2 class="top-seniors-h2">Top Active Seniors from around the world</h2>

  <!-- top cards -->
  <div class="d-flex justify-content-center">
    <!-- card -->
    <div class="card_advertisement">
      <img src="" />
      <div class="card_advertisement-infos">
        <h2>3</h2>
        <p>Step description</p>
      </div>
    </div>
  </div>
</div>