<div class="container">
  <div class="row py-4">

    <div class="col">
      <h1>Payment options</h1>



      <button id="pay" class="btn btn-show">Pay with card</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @checkout.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
