.card-product {
  overflow: hidden;
  width: 320px;
  height: 120px;
  margin-bottom: 30px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product i {
  position: relative;
  height: 100%;
  width: 120px;
  font-size: 35px;
  color: #E7A142;
  background-color: #F4F4F4;
  padding-top: 40px;
}

.card-product h2 {
  font-family: "Work Sans";
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-product p {
  font-size: 18px;
  color: #818080;
  line-height: 1.4;
  letter-spacing: -0.015em;
  opacity: .9;
  margin-bottom: 0;
}

.card-product .card-product-infos {
  padding: 16px;
}

