.card-senior {
  width: 1050px;
  height: auto;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.card-senior img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  background-position: center;
  border-radius: 2px;
}

.card-senior h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-senior p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

// left
#full-name {
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
  padding: 0;
}

#member-since {
  font-size: 13;
  margin-top: 3px;
  margin-bottom: 15px;
}

.about p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  padding-top: 30px;
}

.about p:nth-child(2) {
  font-size: 16px;
  height: 70px;
}

.rating {
  transition: .3s;
}

.rating:hover {
  cursor: pointer;
  text-decoration: underline;
}

// right
#category-h2 {
  font-family: "Work Sans";
  font-size: 30px;
}

#subcategory-p {
  font-weight: 400;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.availability,
.location,
.price {
  text-align: right;
 }

.location {
  padding-top: 20px;
}

.availability, .price {
  padding-top: 30px;
}

#price-p {
  font-size: 22px;
  font-weight: 600;
  color: #5e5c5c;
}

.availability p:nth-of-type(1) {
  padding-top: 60px;
}

.availability p:nth-of-type(1),
.location p:nth-of-type(1),
.price p:nth-of-type(1) {
  font-weight: 600;
  font-size: 19px;
}

.availability p:nth-of-type(2),
.location sub,
.price p:nth-of-type(2) {
  font-size: 15px;
}

.location {
  margin-top: 15px;
}

.price p:nth-of-type(2) {
  font-weight: 500;
}

