#login-h2,
#edit-h2,
#signup-h2 {
  font-family: 'Work Sans';
  font-weight: 600;
}

// labels
.user_email label,
.user_password label,
.form-check label,
.form-group label,
.form-group legend {
  color: $dark-gray;
}

// links and remember me
.form-check label,
.form-links,
.signup-links {
  font-size: 14px;
  color: rgb(146, 146, 146);
  transition: .3s;
}

.form-links:hover,
.signup-links a:hover {
  color: $orange;
}

.signup-links a {
  font-size: 14px; 
  color: rgb(26, 26, 26);
  text-decoration: underline;
  font-weight: 500;
  transition: .3s;
}