.banner {
  height: 539px;
  background-position: 20% 40%;
  background-size: 120%;
  background-color: #C4C4C4;
}

.header-h1 {
  font-family: "Work Sans", "Helvetica", "sans-serif";
  font-weight: 700;
  font-size: 40px;
  padding-top: 210px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.form-header {
  padding-top: 30px;
  // padding-left: 78px;
}

// inputs
#header-text-input,
#header-text-input1,
#header-text-input2 {
  padding-left: 15px;
  width: 200px;
  height: 80px;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

#header-text-input1,
#header-text-input2 {
  background-color: white;
}

::placeholder,
select {
  color: rgba(145, 145, 145, 0.8);
  font-size: 16px;
}

// button
#header-submit-input {
  width: 180px;
  height: 80px;
  margin-left: 5px;
  background-color: $orange;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-radius: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: .3s;
}

#header-submit-input:hover {
  background-color: #eeaa4c;
}