#map {
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #E7E7E7;
  width: 625px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  // text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#show-map {
  height: auto;
}