.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// logo
.nav-logo {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 18px;
  transition: .3s;
}

.nav-logo:hover {
  color: #f1b158;
}

// buttons
.btn-signup,
.btn-login {
  transition: .3s;
}

.btn-senior {
  // background-color: #E7A142;
  display: block;
  padding: 0.5rem 1rem;
  color: #E7A142;
  font-weight: 600;
  border-radius: 30px;
  transition: .3s;
}

.btn-senior:hover {
  // background-color: #E7A142;
  color: #f5b862;
}

